@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
:root {
    --text-50: rgb(230, 239, 254);
    --text-100: rgb(205, 223, 254);
    --text-200: rgb(156, 191, 252);
    --text-300: rgb(106, 159, 251);
    --text-400: rgb(56, 127, 250);
    --text-500: rgb(6, 95, 249);
    --text-600: rgb(5, 76, 199);
    --text-700: rgb(4, 57, 149);
    --text-800: rgb(3, 38, 99);
    --text-900: rgb(1, 19, 50);
    --text-950: rgb(1, 10, 25);

    --background-50: rgb(229, 239, 255);
    --background-100: rgb(204, 224, 255);
    --background-200: rgb(153, 192, 255);
    --background-300: rgb(102, 161, 255);
    --background-400: rgb(51, 129, 255);
    --background-500: rgb(0, 98, 255);
    --background-600: rgb(0, 78, 204);
    --background-700: rgb(0, 59, 153);
    --background-800: rgb(0, 39, 102);
    --background-900: rgb(0, 20, 51);
    --background-950: rgb(0, 10, 26);

    --primary-50: rgb(230, 239, 254);
    --primary-100: rgb(205, 223, 254);
    --primary-200: rgb(155, 191, 253);
    --primary-300: rgb(105, 159, 252);
    --primary-400: rgb(55, 127, 251);
    --primary-500: rgb(5, 95, 250);
    --primary-600: rgb(4, 76, 200);
    --primary-700: rgb(3, 57, 150);
    --primary-800: rgb(2, 38, 100);
    --primary-900: rgb(1, 19, 50);
    --primary-950: rgb(1, 9, 25);

    --secondary-50: rgb(237, 230, 254);
    --secondary-100: rgb(220, 205, 254);
    --secondary-200: rgb(185, 156, 252);
    --secondary-300: rgb(149, 106, 251);
    --secondary-400: rgb(114, 56, 250);
    --secondary-500: rgb(79, 6, 249);
    --secondary-600: rgb(63, 5, 199);
    --secondary-700: rgb(47, 4, 149);
    --secondary-800: rgb(32, 3, 99);
    --secondary-900: rgb(16, 1, 50);
    --secondary-950: rgb(8, 1, 25);

    --accent-50: rgb(241, 230, 254);
    --accent-100: rgb(228, 205, 254);
    --accent-200: rgb(201, 156, 252);
    --accent-300: rgb(174, 106, 251);
    --accent-400: rgb(147, 56, 250);
    --accent-500: rgb(119, 6, 249);
    --accent-600: rgb(96, 5, 199);
    --accent-700: rgb(72, 4, 149);
    --accent-800: rgb(48, 3, 99);
    --accent-900: rgb(24, 1, 50);
    --accent-950: rgb(12, 1, 25);
}

html, body {
    margin: 0px;
}

body {
    display: flex;
    height: 100%;
    overflow-y: auto;
}

.left-half {
    flex: 1;
    min-width: 250px;
    padding: 1.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background-900);
    justify-content: space-between;
}

.right-half {
    flex: 3;
    overflow-y: auto;
    background-color: var(--background-950);
    display: flex;
    flex-direction: column;
    padding: 2.5%;
}

.city-input {
    background-color: rgba(255, 255, 255, 0.11);
    border: none;
    color:var(--text-100);
    width: 92%;
    height: 2rem;
    font-size: 1rem;
    border-radius: 1rem;
    padding-left: 1rem;
}
.city-input:focus {
    outline: var(--accent-500) solid 2px;
}

.invalid {
    outline: rgb(255, 97, 97) solid 2px !important;
    color: rgba(255, 97, 97, 0.77);
}
.city-search {
    display: flex;
    width: 100%;
    justify-content: end;
}
form,button {
    margin-left: -32px;
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
}
.fa-magnifying-glass {
    font-size: 1.2rem;
    color: var(--accent-500);
    transition: color 300ms ease-in-out;
}
.fa-magnifying-glass:hover {
    color: var(--accent-600);
}

.weather-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.weather-icon {
    width: 8rem;
    height: 8rem;
}

.temperature {
    color: var(--text-100);
    font-size: 3rem;
    font-family: 'Kanit', sans-serif;
}
.condition {
    font-family: 'Kanit', sans-serif;
    color: var(--text-200);
    font-size: 1.2rem;
}

.seperator {
    width: 80%;
    height: 2px;
    border: none;
    background-color: var(--primary-400);
    border-radius: 40%;
    
}

.contemparary-details {
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.6rem;
    font-size: 1.2rem;
    color: rgba(255, 255, 255, 0.674);
}
.place {
    font-family: 'Lato', sans-serif;
    color: var(--text-200);
    font-size: 1.3rem;
    text-align: center;
}


.day-selector {
    display: flex;
    padding-left: 2rem;
    gap: 3rem;
}
.option {
    font-family: 'Lato', sans-serif;
    color: rgba(255, 255, 255, 0.4);
    font-size: 1.5rem;
    transition: color 300ms ease-in-out;
    cursor: pointer;
}
.option:hover {
    color: var(--text-50);
}

.selected {
    color: var(--text-50);
}

.courtesy {
    font-family: 'Lato', sans-serif;
    color: var(--text-50);
}

a:link {
    color: inherit;
    text-decoration: none;
}
  
a:visited {
    color: inherit;
    text-decoration: none;
}
  
a:hover {
    color: inherit;
    text-decoration: underline;
}
  
a:active {
    color: inherit;
    text-decoration: underline;
}


.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    row-gap: 3rem;
    column-gap: 2rem;
    padding: 3%;
    width: 84%;
}

.card {
    font-family: 'Montserrat', sans-serif;
    width: max(200px, 18vw);
    height: max(130px, 20vh);
    background-color: var(--primary-300);
    border-radius: 1rem;
    color: var(--text-50);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
}

.card-title, .card-content, .card-sub-text {
    padding-left: 1rem;
}

.card-title {
    color: var(--text-100);
    font-size: 1.2rem;
}

.card-content {
    display: flex;
    width: 80%;
    justify-content: space-between;
    font-size: 1.8rem;
    font-weight: 600;

}
.details {
    display: flex;
    flex-direction: column;
    gap:1vh;
    width: 80%;
}
.maxmin {
    display: flex;
    align-items: center;
    gap: 5%;
}

.rise-set-info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: end;
    font-size: 1.3rem;
}

.github {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    font-size: 2rem;
    color: var(--primary-300);
    transition: all 300ms ease-in-out;
}
.github:hover {
    transform: scale(1.3);
    color: var(--accent-200);
}


@media only screen and (max-width:860px) {
    body {
        flex-direction: column;
    }
    .day-selector {
        padding-left: 0px;
    }
    .left-half {
        gap: 3rem;
    }
    .right-half {
        align-items: center;
        overflow-y: hidden;
    }
    .card-grid {
        justify-self: center;
    }
    .card {
        min-width: 250px;
    }

}

@media only screen and (max-width:570px) {
    .card-grid {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

}